.section-heading h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: #2a2a2a;
    font-weight: 700;
    letter-spacing: 0.25px;
    position: relative;
    z-index: 2;
    line-height: 44px;
}

.section-heading h2 em {
    font-style: normal;
    color: #03a4ed;
}

.section-heading h2 span {
    color: #fe3f40;
}

.main-blue-button a {
    display: inline-block;
    background-color: #03a4ed;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.main-red-button a {
    display: inline-block;
    background-color: #fe3f40;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.main-white-button a {
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #fe3f40;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.our-blog {
    position: relative;
    margin-top: 80px;
    padding-top: 120px;
}

.blog-container {
    width: 200%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.blog-row {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.blog-row-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.blog-colunm {
    padding: 0px 12px;
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
}

.our-blog .section-heading h2 {
    margin-right: 180px;
    width: 130%;
    left: -105%;
}

.our-blog .top-dec {
    text-align: right;
    margin-top: -80px;
    position: relative;
    right: -5%
}

.our-blog .top-dec img {
    max-width: 270px;
    position: relative;
    left: 100%;
}

.our-blog .left-image {
    position: relative;
    width: 200%;
    left: -110%;
}

.our-blog .left-image img {
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.our-blog .left-image .info {
    position: relative;
}

.our-blog .left-image .info .inner-content {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 75px;
    position: absolute;
    margin-top: -100px;
    padding: 30px;
}

.our-blog .left-image ul li {
    display: inline-block;
    font-size: 15px;
    color: #afafaf;
    font-weight: 300;
    margin-right: 20px;
}

.our-blog .left-image ul li:last-child {
    margin-right: 0px;
}

.our-blog .left-image ul li i {
    color: #ff4d61;
    font-size: 16px;
    margin-right: 8px;
}

.our-blog .left-image h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    margin: 20px 0px 15px 0px;
}

.our-blog .left-image .info .main-blue-button a {
    display: inline-block;
    background-color: #03a4ed;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.our-blog .left-image .info .main-blue-button {
    position: absolute;
    bottom: -75px;
    left: 0;
}

.our-blog .right-list {
    margin-left: 30px;
    position: relative;
    left: -10%;
}

.our-blog .right-list ul li {
    display: inline-flex;
    width: 300%;
    margin-bottom: 30px;
}

.our-blog .right-list .blog-left-content {
    margin-right: 45px;
}

.our-blog .right-list .blog-left-content span {
    font-size: 15px;
    color: #afafaf;
    font-weight: 300;
}

.our-blog .right-list .blog-left-content span i {
    color: #ff4d61;
    font-size: 16px;
    margin-right: 8px;
}

.our-blog .right-list .blog-left-content h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    margin: 20px 0px 15px 0px;
}

.our-blog .right-list .right-image img {
    width: 250px;
    border-radius: 20px;
}

@media (min-width: 1400px) {
    .blog-container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .blog-container {
        max-width: 1140px;
    }
    
}

@media (min-width: 992px) {
    .blog-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .blog-container {
        max-width: 720px;
    }
}

@media (max-width: 1550px) {
    .right-list {
        width: 75%;
    }
}

@media (max-width: 1400px) {
    .our-blog .right-list {
        left: -6%;
    }
    .our-blog .right-list ul li {
        width: 216%;
    }
    .our-blog .left-image {
        width: 160%;
        left: -67%
    }
    .our-blog .section-heading h2 {
        left: -65%
    }
    .our-blog .top-dec img {
        left: 60%
    }
}

@media (max-width: 1190px) {
    .our-blog .section-heading h2 {
        left: -39%;
        width: 80%;
    }
    .our-blog .top-dec img {
        left: 35%;
    }
    .our-blog .left-image {
        width: 130%;
        left: -42%;
    }
    .our-blog .right-list ul li {
        width: 180%;
    }
}

@media (max-width: 990px) {
    .top-dec {
        display: none;
    }
    .our-blog .section-heading h2 {
        font-size: 35px;
        margin-right: 0px;
        align-items: center;
        text-align: center;
        margin-bottom: 45px;
        width: 210%;
        left: -2%;
    }
    .our-blog .left-image {
        margin-bottom: 45px;
        max-width: 300%;
        width: 200%;
        left: 3%;
    }
    .our-blog .left-image .info .inner-content {
        position: relative;
        margin-right: 0px;
    }
    .our-blog .left-image .info .main-blue-button {
        position: relative;
        bottom: 0px;
        margin-top: 30px;
    }
    .right-image {
        position: relative;
        left: 94%;
    }
    .blog-left-content {
        position: absolute;
        width: 133%;
        left: 6%;
    }
    .blog-row {
        flex-direction: column;
    }
}

@media (max-width: 777px) {
    .our-blog .right-list ul li {
        display: inline-block;
        margin-top: 0px;
        padding-top: 30px;
        border-top: 1px solid #eee;
        position: relative;
        left: -8%;
    }
    .our-blog .right-list .blog-left-content {
        margin-right: 0px;
        width: 177%;
        margin-bottom: 15px;
        left: 5%;
    }
    .our-blog .right-list .right-image, .our-blog .right-list .right-image img {
        width: 96%;
        left: 3%;
        transform: translateY(55px);
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .our-blog .left-image {
        width: 200%;
        left: 3%;
    }
    .our-blog .section-heading h2 {
        width: 175%;
        left: 15%
    }
    .our-blog .right-list ul {
        width: 160%;
    }
}

@media (max-width: 767px) {
    .our-blog .section-heading h2 {
        width: 70%;
        left: 14%;
    }
    .our-blog {
        margin-top: 0;
    }
    .our-blog .left-image {
        width: 100%;
        left: 1%;
    }
    .our-blog .right-list ul li {
        width: 90%;
    }
    .our-blog .blog-row {
        position: relative;
        left: -23%;
        transform: translate(23%);
    }
}