.contact-us {
    padding: 160px 0px;
    background-image: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contact-us .section-heading {
    width: 280%;
}

.contact-us .section-heading h2,
.contact-us .section-heading h2 em,
.contact-us .section-heading h2 span {
    color: #fff;
}

.contact-us .section-heading p {
    color: #fff;
    margin-top: 30px;
}

.contact-container {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.contact-colunm-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    width: 30%;
    position: relative;
    left: -20%;
    transform: translate(-95%);
}

.contact-colunm-all {
    padding: 0px 12px;
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 22%;
}

.contact-colunm {
    padding: 0px 10px;
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.phone-info {
    margin-top: 40px;
}

.phone-info h4 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.phone-info h4 span i {
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    background-color: #fff;
    border-radius: 50%;
    color: #ff3b2c;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 15px;
}

.phone-info h4 span a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

form#contact .contact-dec {
    position: absolute;
    right: -166px;
    bottom: 0;
}

form#contact .contact-dec img {
    max-width: 178px;
}

form#contact {
    margin-left: 30px;
    position: relative;
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 20px;
    width: 200%;
}

form#contact input[type=text] {
    width: 206%;
}

form#contact textarea {
    position: relative;
    left: -2%;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

form#contact input {
    width: 100%;
    height: 46px;
    border-radius: 33px;
    background-color: #d1f3ff;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 0px 20px;
    margin-bottom: 10px;
}

form#contact input::placeholder {
    color: #2a2a2a;
}

form#contact textarea {
    width: 210%;
    max-width: 210%;
    min-width: 210%;
    max-height: 180px;
    min-height: 140px;
    height: 140px;
    border-radius: 20px;
    background-color: #d1f3ff;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 15px 20px;
    margin-bottom: 10px;
}

form#contact textarea::placeholder {
    color: #2a2a2a;
}

form#contact button {
    display: inline-block;
    background-color: #03a4ed;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: none;
    outline: none;
    transition: all 0.3s;
}

form#contact button:hover {
    background-color: #fe3f40;
}

footer p {
    text-align: center;
    margin: 30px 0px 45px 0px;
    width: 180%;
}

footer p a {
    color: #fe3f40;
}

@media (min-width: 1400px) {
    .contact-container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .contact-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .contact-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .contact-container {
        max-width: 720px;
    }
}

@media (max-width: 1645px) {
    form#contact .contact-dec {
      display: none;
    }
}

@media (max-width: 1400px) {
    .contact-colunm-heading {
        left: 0;
    }
    .contact-colunm-all {
        left: 18%;
    }
    form#contact {
        width: 165%;
    }
}

@media (max-width: 1190px) {
    .contact-us .section-heading {
        width: 190%;
    }
    .contact-us .phone-info {
        width: 110%;
    }
    .contact-colunm-heading {
        left: 11%;
    }
    form#contact {
        width: 135%;
    }
}

@media (max-width: 990px) {
    .contact-us {
        margin-top: 60px;
        padding: 120px 0px;
    }
    .contact-us .section-heading {
        text-align: center;
    }
    form#contact {
        margin-left: 0px;
        margin-top: 30px;
        width: 200%;
        left: -35%;
    }
    .contact-colunm-heading {
        width: 55%;
        left: 50%
    }
    .contact-us .contact-colunm-heading .section-heading p {
        font-size: 17px;
    }
    .contact-row {
        flex-direction: column;
    }
    form#contact input[type=name] {
        width: 206%;
    }
    form#contact input[type=surname] {
        width: 206%;
    }
    footer p {
        width: 200%;
    }
}