* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
    // font-family:
}

body {
    font-size: 1.6rem;
}

.grid:after {
    content: "";
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 50%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #2a2a2a;
}

img {
    width: 100%;
    overflow: hidden;
}

html,
body {
    background: #fff;
    font-family: "Poppins", sans-serif;
}

::selection {
    background: #03a4ed;
    color: #fff;
}

::-moz-selection {
    background: #03a4ed;
    color: #fff;
}

@media (max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .mobile-bottom-fix {
        margin-bottom: 30px;
    }
    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.page-section {
    margin-top: 120px;
}

.section-heading h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: #2a2a2a;
    font-weight: 700;
    letter-spacing: 0.25px;
    position: relative;
    z-index: 2;
    line-height: 44px;
}

.section-heading h2 em {
    font-style: normal;
    color: #03a4ed;
}

.section-heading h2 span {
    color: #fe3f40;
}

.main-blue-button a {
    display: inline-block;
    background-color: #03a4ed;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.main-red-button a {
    display: inline-block;
    background-color: #fe3f40;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.main-white-button a {
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #fe3f40;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./Home.scss";
@import "./About Us.scss";
@import "./Services.scss";
@import "./Portfolio.scss";
@import "./Blog.scss";
@import "./Message Us.scss";
