.aboutUs#aboutus
    div.container
        div.content 
            div.picture 
                div.picture_content
            div.infor 
                div.infor_content
                    div.infor_01
                        .icon 
                        .text
                            h4 Data Analysis
                            p Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter
                    div.infor_02
                        .icon 
                        .text
                            h4 Data Reporting
                            p Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter
                    div.infor_03
                        .icon 
                        .text
                            h4 Web Analytics
                            p Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter
                    div.infor_04
                        .icon 
                        .text
                            h4 SEO Suggestions
                            p Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter