#blog.our-blog.section
    .container
        .row
            .col-lg-6
                .section-heading
                    h2 Check Out What Is <em>Trending</em> In Our Latest <span>News</span>
            .col-lg-6
                .top-dec
                    img(src="./images/blog-dec.png")
        .row
            .col-lg-6
                .left-image
                    a(href="#")
                        img(src="./images/big-blog-thumb.jpg" alt="Workspace Desktop")
                    .info
                        .inner-content
                            ul
                                li 
                                    <i class="fa fa-calendar"></i> 07 August 2021
                                li
                                    <i class="fa fa-users"></i> TemplateMo
                                li
                                    <i class="fa fa-folder"></i> Branding
                            a(href="#")
                                h4 SEO Agency &amp; Digital Marketing
                            p Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...
                            .main-blue-button
                                a(href="#") Discovery More
            .col-lg-6
                .right-list 
                    ul 
                        li 
                            .left-content.align-self-center
                                span <i class="fa fa-calendar"></i> 07 August 2021
                                a(href="#") <h4>New Websites &amp; Backlinks</h4>
                                p Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...
                            .right-image
                                a(href="#")
                                    img(src="./images/blog-thumb-01.jpg")
                        li 
                            .left-content.align-self-center
                                span <i class="fa fa-calendar"></i> 07 August 2021
                                a(href="#") <h4>SEO Analysis &amp; Content Ideas</h4>
                                p Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...
                            .right-image
                                a(href="#")
                                    img(src="./images/blog-thumb-01.jpg")
                        li 
                            .left-content.align-self-center
                                span <i class="fa fa-calendar"></i> 07 August 2021
                                a(href="#") <h4>SEO Tips &amp; Digital Marketing</h4>
                                p Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...
                            .right-image
                                a(href="#")
                                    img(src="./images/blog-thumb-01.jpg")