header
    .nav 
        .nav-logo 
            a(href="#") spac
                span dyna
        input.btn-toggle-menu(type="checkbox")
        .toggle-menu-icon 
            span
        .nav-menu 
            ul.nav-menu__list
                li.nav-menu__item 
                    a(href="#home").nav-menu__link Home
                li.nav-menu__item 
                    a(href="#").nav-menu__link about us
                li.nav-menu__item 
                    a(href="#services").nav-menu__link services
                li.nav-menu__item 
                    a(href="#").nav-menu__link Portfolio
                li.nav-menu__item
                    a(href="#").nav-menu__link Blog
                li.nav-menu__item 
                    a(href="#").nav-menu__link Message Us
                li.nav-menu__item 
                    a(href="#").nav-menu__link.btn-contact contact now 
    
      
.home#home
    .left-content 
        h6 welcome to space dynamic
        h2
            |we make 
            span.digital-ideas digital ideas 
            |& 
            span.seo seo 
            |marketing
        p 
            |Space Dynamic is a professional looking HTML template using a Bootstrap 5 (beta 2). This CSS template is free for you provided by 
            a(href="#").templatemo Templatemo.
        form
            input#url(type="text", name="url", placeholder='Your website URL...') 
            button.home-btn(type='submit') Analyze Site
    .right-content 
        img(src="./images/banner-right-image.png", alt="")
