div#contact.contact-us
    .contact-container
        .contact-row
            .contact-colunm-heading
                .section-heading
                    h2 Feel Free To Send Us a Message About Your Website Needs
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores
                    .phone-info
                        h4 For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a href="#">010-020-0340</a></span>
            .contact-colunm-all
                form(id='contact')
                    .contact-row
                        .contact-colunm
                            fieldset
                                input(type="name" name="name" id="name" placeholder="Name" autocomplete="on" required)
                        .contact-colunm
                            fieldset
                                input(type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required)
                        .contact-colunm
                            fieldset
                                input(type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required)
                    .contact-colunm
                            fieldset
                                textarea(name="message" type="text" class="form-control" id="message" placeholder="Message" required) 
                    .contact-colunm
                            fieldset
                                button(type="submit" id="form-submit" class="main-button ") Send Message
                    .contact-dec
                        img(src='./images/contact-decoration.png')

footer
    .contact-container
        .contact-row
            .contact-colunm
                p © Copyright 2021 Space Dynamic Co. All Rights Reserved. <br>Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a><br>PiedTeamK16-SPACDYNA Team 1