#portfolio.our-portfolio
    .portfolio-container
        .portfolio-row-heading
            .section-heading
                h2 See What Our Agency <em>Offers</em> <br>& What We <span>Provide</span>    
        .portfolio-row
            .portfolio-colunm
                a(href="#")
                    .item
                        .hidden-content
                            h4 SEO Analysis
                            p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                        .showed-content
                            img(src="./images/portfolio-image.png")
        
            .portfolio-colunm
                a(href="#")
                    .item
                        .hidden-content
                            h4 Website Reporting
                            p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                        .showed-content
                            img(src="./images/portfolio-image.png")
        
            .portfolio-colunm
                a(href="#")
                    .item
                        .hidden-content
                            h4 Performance Tests
                            p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                        .showed-content
                            img(src="./images/portfolio-image.png")
        
            .portfolio-colunm
                a(href="#")
                    .item
                        .hidden-content
                            h4 Data Analysis
                            p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                        .showed-content
                            img(src="./images/portfolio-image.png")