#portfolio.our-portfolio
    .container
        .section-heading
            h2 See What Our Agency <em>Offers</em> <br>& What We <span>Provide</span>    
        .content
            a(href="#")
                .hidden-content
                    h4 SEO Analysis
                    p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                .show-content
                    img(src="../app/images/portfolio-image.png")
            a(href="#")
                .hidden-content
                    h4 Website Reporting
                    p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                .show-content
                    img(src="../app/images/portfolio-image.png")
            a(href="#")
                .hidden-content
                    h4 Performance Tests
                    p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                .show-content
                    img(src="../app/images/portfolio-image.png")
            a(href="#")
                .hidden-content
                    h4 Data Analysis
                    p Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.
                .show-content
                    img(src="../app/images/portfolio-image.png")