.services#services 
    .services-left 
        img(src="./images//services-left-image.png", alt="")
    .services-right 
        h2
            |Grow Your Website With Our 
            span.seo SEO 
            |Service &amp; 
            span.project Project 
            |Ideas
        p
            | Space Dynamic HTML5 template is free to use for your website projects. However, you are not permitted to
            | redistribute the template ZIP file on any CSS template collection websites. Please contact us for more
            | information. Thank you for your kind cooperation.
        .bar 
            h4 Website Analysis
            .full-bar 
             .process-bar84
             span.process-bar84-number 84%
        .bar 
            h4 SEO Reports
            .full-bar 
             .process-bar88
             span.process-bar88-number 88%
        .bar 
            h4 Page Optimizations
            .full-bar 
             .process-bar94
             span.process-bar94-number 94%